$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

%text {
  color: #fff;
  font-family: Open-Sans, sans-serif;
}

html {
  font-size: 10px;
  color: #fff;
}

.container-with-margin {
  box-sizing: border-box;
  max-width: 120rem;
  overflow: hidden;
  width: 100%;
}
.hero {
  @extend %text;
  background-color: #000;
  padding: 8% 4%;
  text-align: center;
  vertical-align: middle;

  h1 {
    font: 700 4rem Open-Sans, sans-serif;
    margin: 3rem 0;
  }

  p {
    margin: 2rem 0;
  }

  .btn {
    font: 700 2rem Open-Sans, sans-serif;
    margin-top: 3rem;
  }
}

#quote {
  font: italic 400 2.5rem Open-Sans, sans-serif;
}

#author {
  font: 700 2rem Open-Sans, sans-serif;
}
